.App {
  text-align: center;
  /* background-color: black; */
  min-height: 100vh;
}


.App-Header {
  background-color: #5F01E9;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 25px;
  border:2px solid grey;
  box-shadow: 10px 2px 10px grey;
}




.login{
  background-color: grey;
  width:33%;
  border: 2px solid white;
  border-radius: 15px;

  margin: 8% 62%;
}
.well-btn{
  border: 2px solid black;
}